<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>Farmer Stand</title>
  <p>
  <h1>"Welcome to the Farmer Stand!"</h1>

</head>
<body>

<p>
<div class="col-xs-6 col-md-3">
<h2>The Word</h2>

</div>


<div class="col-xs-6 col-md-3">
<h2>Buy Produce</h2>


</div>


<div class="col-xs-6 col-md-3">

<h2>Find Your Farmer</h2>

</div>

<div class="col-xs-6 col-md-3">

<h2>Your Account</h2>

</div>



</body>

<style>

body {

  text-align: center;
}

.col-xs-6 {
  margin-top: 100px;
  border: solid black;
}


</html>












</body>

