<title>Da Farmer Stand</title>
<h1>Da Farmer Stand</h1>

<h2>To buy or sell goods sign up and become a member!</h2>


    <table class ="consumer-only hidden">
    <tr>
      <td id="word">
    <%= link_to '<button class="consumer" type="button">(BAD LINK)</button>'.html_safe, new_user_path%>
      </td>
      <td id="produce">
    <%= link_to '<button class="consumer" type="button">MAKE AND ORDER</button>'.html_safe, orders_path %>
      </td>
    </tr>
    <tr>
      <td id="farmer">
    <%= link_to '<button class="consumer" type="button">EDIT YOUR ACCOUNT</button>'.html_safe, new_user_path %>
      </td>
      <td id="account">
    <%= link_to '<button class="consumer" type="button">Your USER Account</button>'.html_safe, new_user_path %>
      </td>
    </tr>
    </table>

<style>

body{
  text-align: center;
}
table {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.consumer{
  height: 150px;
  width: 150px;
}

</style>

