<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>Farmer Stand</title>
  <p>
  <h1>"Welcome to the Farmer Stand!"</h1>

  <h2>"To buy or sell goods sign up and become a member!"
</head>
<body>


<table class ="container">
<tr>
  <td id="word">
  <h2>The Word</h2>
  </td>

  <td id="produce">
  <h2>Buy Produce</h2>
  </td>

</tr>

<tr>

  <td id="farmer">
  <h2>Find Your Farmer</h2>
  </td>

  <td id="account">
  <h2>Your Account</h2>
  </td>

</tr>

</table>


</body>

<style>

body {

  text-align: center;
}

table {
  margin-top: 50px;
}
td {
  border: solid black;
  height: 200px;
  width: 175px;
}

#farmer{


}

#produce{
  max-width: 100%;
  max-height: 100%;

}

#word{
}


</html>












</body>

