<!DOCTYPE html>
<html>
<head>
<% #<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">%>

<% #<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>%>

  <title>Farmer Stand</title>
  <p>
  <h1>The Farmer Stand!</h1>

  <h2>To buy or sell goods sign up and become a member!</h2>
</head>
<body>


<table class ="container">
<tr>
  <td id="word">
<%= link_to '<button class="consumer" type="button">The Word</button>'.html_safe, new_user_path %>
  </td>

  <td id="produce">
<%= link_to '<button class="consumer" type="button">Pick your produce</button>'.html_safe, new_user_path %>
  </td>

</tr>

<tr>
  <td id="farmer">
<%= link_to '<button class="consumer" type="button">Find a farmer</button>'.html_safe, new_user_path %>
  </td>

  <td id="account">
<%= link_to '<button class="consumer" type="button">Your Account</button>'.html_safe, new_user_path %>
  </td>
</tr>
</table>


</body>

<style>

body {

  text-align: center;
}

.container {
  margin: 0 auto;
}

.consumer{
  height: 150px;
  width: 150px;
}

</style>


</html>

