<title>Da Farmer Stand</title>
<h1>Da Farmer Stand</h1>
<br>

<br>



<h2>To buy or sell goods sign up and become a member!</h2>




<style>

body{
  text-align: center;
}
table {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.consumer{
  height: 150px;
  width: 150px;
}

</style>

