<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<h1>Your Account</h1>


<table class ="container">
<tr>
  <td id ="stand">
<%= link_to '<button class="farmer" type="button">Put up your produce in My Stand</button>'.html_safe, new_user_path %>
</td>

<td id="settings">
<%= link_to '<button class="farmer" type="button">Your Settings</button>'.html_safe, new_user_path %>
</td>

</tr>
<tr>
<td id="post">
<%= link_to '<button class="farmer" type="button">Write a Post</button>'.html_safe, new_user_path %>

</td>

<td id="location">
<%= link_to '<button class="farmer" type="button">Edit/Change Your Location</button>'.html_safe, new_user_path %>

</td>
</tr>
</table>

</body>


<style>

body{
  text-align: center;
}

.container {
  margin: 0 auto;
}

.farmer{
  height: 150px;
  width: 150px;
}

</style>


</html>

